/* Start Global Rules */
:root {
    --main-color: #5165fd;
    --main-color-alt: #5165d1;
    --main-padding: 50px;
    --main-transition: 0.3s;
    --main-paragraph-color: #666;
    --border-color: #eee;
    --text-color: #383838;
  }
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  a {
    text-decoration: none;
  }
  html {
    scroll-behavior: smooth;
    direction: rtl;
  }
  body {
    font-family: "Cairo", sans-serif;
    /* font-family: 'Open Sans', sans-serif;
      font-family: 'Work Sans', sans-serif; */
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  /* End Global Rules */


  /* START HEADER */
  header {
    /* padding-bottom: var(--main-padding); */
    border-bottom: 3px solid var(--border-color);
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
  }
  @media(max-width:991px){
    header {
        right: 0px;
        max-width: 99%;
    }
  }
  @media(max-width:767px){
    header  {
        right: -7px;
        max-width: 100%;
        justify-content: space-between;
    }
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
  }
  header .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  header .container .boxes .box {
    background: var(--main-color);
    width: 155px;
    height: 43px;
    text-align: center;
    z-index: 3;
  }
  @media (max-width: 991px) {
    header .container .boxes .box {
      width: 75px;
    }
  }
  header .container .boxes .box a {
    color: white;
    font-family: Cairo;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  header .container .boxes form {
    height: 43px;
    width: 237px;
    margin-right: -203px;
    position: relative;
  }
  @media (max-width: 991px) {
    header .container .boxes form {
      width: 150px;
      position: absolute;
      left: 580px;
    }
  }
  header .container .boxes form i {
    position: absolute;
    bottom: 14px;
    right: 8px;
    color: var(--main-paragraph-color);
  }
  header .container .boxes form input {
    width: 100%;
    height: 100%;
    background: var(--border-color);
    padding-right: 30px;
  }
  header .container .mobile {
    display: flex;
    justify-content: space-between;
  }
  
  header .container .links {
    display: flex;
    width: 372px;
    height: 14px;
    margin-right: 120px;
    font-family: Cairo;
    font-size: 20px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
  }
  @media (max-width: 991px) {
    header .container .links {
      width: 500px;
      margin-right: 40px;
    }
  }
  
  header .container .links li {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .container .links li a {
    color: var(--text-color);
  }
  header .container .links li:hover a{
    color: var(--main-color-alt);
  }
  header .container .links li .main {
    color: var(--main-color);
  }
  header .container .logo {
    width: 50px;
    height: 50px;
    top: 8px;
    left: 70px;
  }
  header .container .logo img {
    border-style: none;
    height: 65px;
  }
  @media (min-width: 992px) {
    header .container .toggle-menu {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    header .container .mobile {
      display: flex;
    }
  }
  @media (max-width: 991px) {
    header .container .mobile form {
      width: 0%;
      display: none;
    }
    header .container .mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0px;
      width: 100%;
      height: 250px;
      z-index: 5;
      background-color: white;
      text-align: right;
      border-bottom: 5px solid var(--border-color);
      display: none;
    }
    header .container .links {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: -44px;
      top: -9px;
      width: 50%;
    }
    header .container .links li {
      margin-bottom: 10px;
    }
    header .container .boxes .box {
      position: absolute;
      bottom: 37px;
      right: 13px;
      width: 120px;
    }
  }
/* END HEADER */

/* START USEFUL */
.useful{
  padding-bottom: var(--main-padding)
}

.useful .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.useful .image{
  background: linear-gradient(to bottom, #FECE2F15 ,#FECE2F00);
  width: 100%;
  height: 730px;
  position: absolute;
}

.useful .container .text{
  margin-top: 100px;
}
.useful .container .text p{
  line-height: 1.8;
}
.useful .container .text > h2{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
}
.useful .container .text .last{
  display: flex;
  align-items: center;
}
.useful .container .text .last p{
  color: var(--main-paragraph-color);
  padding-right: 20px;
  padding-bottom: 20px;
}
.useful .container .text > p{
  font-size: 16px;
  max-width: 96%;
  color: var(--main-paragraph-color);
}
@media(max-width:991px){
  .useful .container .text > p{
    max-width: 88%;
  }
}
.useful .container .text > p .heading{
  font-size: 16px;
  font-weight: 800;
  
}
.useful .container .text > p span{
  font-size: 16px;
  font-weight: 700;
}
.useful .container .text .img img{
  width: 95%;
}
@media(max-width:991px){
  .useful .container .text .img img{
    max-width: 95%;
  }
}
@media(max-width:767px){
  .useful .container .text img{
    max-width: 100%;
  }
}
/* END USEFUL */


/* START MORE */
.more {
  padding-bottom: var(--main-padding);
}

.more .container .heading {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 50px;
  border-top: 3px solid var(--border-color);
}
.more .container .heading p{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-paragraph-color);

}
.more .container .heading h2 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .more .container .heading h2 {
    font-size: 25px;
  }
  .more .container .heading {
    justify-content: space-evenly;
  }
}
.more .container .heading a {
  color: var(--main-color);
  font-size: 20px;
}
@media (max-width: 767px) {
  .more .container .heading a {
    margin-top: 10px;
  }
}
.more .container .list {
  display: flex;
}
.more .container .list .box {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;

}
.more .container .list .box .p {
  display: flex;
  justify-content: space-between;
  color: var(--main-paragraph-color);
  margin-bottom: 15px;
}
.more .container .list .box h2 {
  font-weight: normal;
  font-size: 21px;
}
@media (min-width: 1199px) {
  .more .container .list {
    display: flex;
    justify-content: center;
  }
  .more .container .list .box{
    margin-left: 160px;
  }
  .more .container .list .box img {
    max-width: 180%;
  }
}
@media (max-width: 991px) {
  .more .container .list {
    display: flex;
    justify-content: center;
  }
  .more .container .list .box img {
    width: 98%;
  }
}
@media (max-width: 767px) {
  .more .container .list {
    display: flex;
    justify-content: center;
  }
  .more .container .list .box {
    width: 98%;
  }
  .more .container .list .box img {
    width: 95%;
  }
  
}

/* END MORE */

/* START REVIEW */
.review{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.review .container .all{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.review .container .all .like{
  display: flex;
  margin-left: 85px;
}
.review .container .all .like p{
  margin-left: 10px;
  color: var(--text-color);
}
.review .container .all .like a{
  margin-left: 10px;
}
.review .container .all .like a i{
  font-size: 20px;
  color: var(--main-color);
}
.review .container .all .like a:nth-child(3){
  margin-top: 2px;
}
@media(max-width:767px){
  .review .container .all {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .review .container .all .like{
    margin-bottom: 20px;
  }
}
.review .container .links{
  display: flex;
  align-items: center;
}
.review .container .links p{
  margin-left: 10px;
}

.review .container .links a{
  margin-left: 10px;
}
.review .container .links a i {
  color: var(--main-color);
}
.review .container form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 90px;
}
.review .container form label{
  margin-bottom: 15px;
}
.review .container form input{
  outline: none;
  border: none;
  background-color: var(--border-color);
  margin-bottom: 20px;
  max-width: 100%;
  padding: 13px 8px 13px 0px;
  width: 800px;
}
@media(max-width:991px){
  .review .container form input{
    width: 570px;;
  }
}
@media(max-width:767px){
  .review .container form input{
    width: 270px;;
  }
}
.review .container form input#text{
  padding-top: var(--main-padding);
  padding-bottom: 100px;
  height: 90px;
}
.review .container form :last-child{
  margin-top: 26px;
  width: 20%;
  padding: 10px;
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
}
.review .container .comments{
  display: flex;
  flex-direction: column;
}
.review .container .comm{
  max-width: 900px;
  margin-bottom: 50px;
  background-color: var(--border-color);
  padding: 30px 15px;
  position: relative;
}
@media(max-width:767px){
  .review .container .comm{
    max-width: 270px;
  }
}
.review .container .comm p:first-of-type{
  display: inline;
  position: absolute;
  right: 80px;
  top: 45px;
}


/* END REVIEW */

/* FOOTER START */
footer{
    padding-top: var(--main-padding);
}
footer .container .boxes {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    text-align: center;
    border-top:2px solid var(--border-color);
    padding-top: 90px;
    padding-bottom: var(--main-padding);
  }
  @media(max-width:991px){
    footer .container .boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
}
  @media(max-width:991px){
      footer .container .boxes {
      margin-left: -10px;
      }
  }
  footer .container .boxes .image {
    margin-top: -30px;
  }
  footer .container .boxes h4 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 20px;
  }
  footer .container .boxes .links li {
    margin-bottom: 15px;
  }
  footer .container .boxes .links li a {
    color: var(--main-paragraph-color);
  }

  @media(max-width:991px){
    footer .container .boxes .links  {
        margin-bottom: 40px;
        margin-top: 20px;
    }
  }


  footer .box .social i {
    color: #4a3aff;
    margin-left: 8px;
  }
  @media(max-width:991px){
    footer .container .boxes .social  {
        margin-bottom: 40px;
        margin-top: 20px;
    }
  }
  
  footer p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 70px;
    position: relative;
  }

  footer p::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 440px;
    background-color: var(--border-color);
    left: 14px;
    top: 80px;
    z-index: -1;
  }
  footer p::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 440px;
    background-color: var(--border-color);
    right: 19px;
    top: 80px;
    z-index: -1;
  }  

  @media(max-width:767px){
    footer p {
        padding: 0px;
    }
    footer p::before{
        top: 9px;
        width: 80px;
        left: -5px;
    }
    footer p::after{
        top: 9px;
        width: 80px;
        right: -5px;
    }
}
  
  /* FOOTER END */
